* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

input {
    border: #d4d4d4 solid 2px;
}

textarea:focus, input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}